.footer
{
    background: darkgreen url("../img/v.svg");
    color: white;
    border-radius: 2pt;
}
.pMenu
{
    color:#000;
    background-color:#f1f1f1 !important
}

.pMenu, a
{
    color: darkgreen;
}

.pMenu, a :hover
{
    color: yellow;
}